<div class="widgets ">
    <div class="row" class="col-md-12">
        <ba-card title="基本图表" bacardclass="with-scroll" class="smart-table-container">
            <!--背景：[theme]="'dark'"数据及设置：[option]="option"-->
            <echarts-ng2 [option]="option" [theme]="'dark'"></echarts-ng2>
        </ba-card>
    </div>
</div>
<div class="widgets ">
    <div class="row" class="col-md-12">
        <ba-card title="更新图表" bacardclass="with-scroll" class="smart-table-container">
           <event-charts></event-charts>
        </ba-card>
    </div>
</div>
<div class="widgets ">
    <div class="row" class="col-md-12">
        <ba-card title="饼图" bacardclass="with-scroll" class="smart-table-container">
          <pie-charts></pie-charts>
        </ba-card>
    </div>
</div>
<div class="widgets ">
    <div class="row" class="col-md-12">
        <ba-card title="饼图" bacardclass="with-scroll" class="smart-table-container">
         <method-charts></method-charts>
        </ba-card>
    </div>
</div>
