<div class="widgets" style="position:relative">
    <div class="row">     
        <div class="col-md-6">
            <ba-card title="标题" bacardclass="with-scroll">
                <form>
                    <div class="form-group">
                        <label for="input001">登录名</label>
                        <input type="text" class="form-control" id="input001" placeholder="登录名"  [(ngModel)]='userObj.login_name' name="login_name" #login_name (blur)='onBlur(login_name)'
                         [ngStyle]="{'border-color':borderColor}" (keyup)='onKeyup(login_name)'/>
                    </div>
                    <div class="form-group">
                        <label for="input01">用户姓名</label>
                        <input type="text" class="form-control" id="input01" placeholder="姓名"  [(ngModel)]='userObj.user_name' name="user_name"/>
                    </div>
                    <div class="form-group">
                        <label for="input02">密码</label>
                        <input type="password" class="form-control" id="input02" placeholder="密码" [(ngModel)]='userObj.pwd' name='pwd'/>
                    </div>
                    <div class="form-group">
                        <label for="input03">扫描码</label>
                        <input type="text" class="form-control" id="input03" placeholder="扫描码" [(ngModel)]='userObj.ScanCode' name='ScanCode'/>
                    </div>
                    <div class="form-group">
                        <label>是否企业员工</label>
                        <div class="input-demo radio-demo row">
                            <div class="col-md-4">
                                <label class="radio-inline custom-radio nowrap"> <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="1" name='IsEmployee' [(ngModel)]='userObj.IsEmployee'/> <span>是</span> </label>&nbsp;&nbsp;&nbsp;
                                <label class="radio-inline custom-radio nowrap"> <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="0" name='IsEmployee' [(ngModel)]='userObj.IsEmployee'/> <span>否</span> </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>是否允许登陆</label>
                        <div class="input-demo radio-demo row">
                            <div class="col-md-4">
                                <label class="radio-inline custom-radio nowrap"> <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="1" name='IsAllowLogin' [(ngModel)]='userObj.IsAllowLogin'/> <span>是</span> </label>&nbsp;&nbsp;&nbsp;
                                <label class="radio-inline custom-radio nowrap"> <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="0" name='IsAllowLogin' [(ngModel)]='userObj.IsAllowLogin'/> <span>否</span> </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="input05">日期</label>
                        <input type="date" class="form-control" id="input05"  [(ngModel)]='userObj.InValidTime' name='InValidTime'/>
                    </div>
                     <div class="form-group">
                        <label for="input09">所在部门</label>
                        <!--<input type="date" class="form-control" id="input05"  [(ngModel)]='userObj.InValidTime' name='InValidTime'/>-->
                        <select name="Name" class="form-control" id="input09" [(ngModel)]='userObj.Name'>
                            <option [value]='bm' *ngFor= "let bm of bumenArr;let i=index;">{{bm}}</option>
                        </select>
                    </div>
                </form>
            </ba-card> 
        </div>
        <div class="col-md-6">
            <ba-card title="文本标签" bacardclass="with-scroll">
                <div class="form-group">
                    <label>数据状态</label>
                    <div class="input-demo radio-demo row">
                        <div class="col-md-6">
                            <label class="radio-inline custom-radio nowrap"> <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="新建" [(ngModel)]='userObj.DataStatus' name='DataStatus'/> <span>新建</span> </label>&nbsp;&nbsp;&nbsp;
                            <label class="radio-inline custom-radio nowrap"> <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="提交" [(ngModel)]='userObj.DataStatus' name='DataStatus'/> <span>提交</span> </label>&nbsp;&nbsp;&nbsp;
                            <label class="radio-inline custom-radio nowrap"> <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="审核" [(ngModel)]='userObj.DataStatus' name='DataStatus'/> <span>审核</span> </label>&nbsp;&nbsp;&nbsp;
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        <label for="input03">创建人</label>
                        <input type="text" class="form-control" id="input03" placeholder="王饶冀" [(ngModel)]='userObj.creator_name' name='creator_name' disabled/>
                    </div>
                </div>
            </ba-card>
              <div class="form-group" style="float:right">
            <button type="submit" class="btn btn-primary" (click)='makePost()'>保存</button>
        </div>
        </div>
    </div>
</div>