<div class="widgets">
    <div class="row ">
        <div class="col-md-6">
            <ba-card bacardclass="with-scroll">
                <ul *ngFor="let item of DepartmentList;let i=index;" class='al-sidebar-list'>
                    <li><i (click)='xian($event,i)' Class='ion-arrow-right-b'></i>&#x3000;{{item.name}}</li>
                    <ul class='lic' [hidden]='item.hide' *ngFor='let n of item.sub'>
                        <li>{{n.name}}</li>
                    </ul>
                </ul>
            </ba-card>
            <div>
              <button type="btn" class="btn btn-primary" (click)="department()">保存</button>
              <button type="btn" class="btn btn-primary" (click)="next()" >下级</button>
              <button type="btn" class="btn btn-primary" (click)="addtj()">同级</button>
              <button type="btn" class="btn btn-primary" (click)="delete()">删除</button>
            </div>
        </div>
    </div>
</div>
<div  class='bg' [hidden]="modle">
    <div class="form-group" class='modle'>
        <label for="input003">部门名称</label>
        <input type="text" class="form-control" id="input003" [(ngModel)]='DeListObj.part_name' name='part_name' />
        <button type="button" class="btn" (click)='back()'>关闭</button>
        <button type="submit" class="btn btn-primary" (click)='save()'>保存</button>
    </div>
</div>
<!--
    /*next(): void {
		// 下级
		if (this.tarArr.length == 0) {
			alert('选择一个目标')
		} else {
			this.modle = false;
			for (var e in this.tarArr) {
				let v = this.tarArr[e];
				let sub = [];
				// console.log(this.deList.part_name)	
				let obj = {name:this.deList.part_name};	
				sub.push(obj);		
				// console.log(this.DepartmentList[v]);
				if (this.tarArr.length == 1) {
                 this.DepartmentList[v].sub = sub;
				} else {

				}
			}

		}
	}

		addtj(): void {
			this.modle = false;
		}
		delete (): void {
			let index = parseInt(this.tarArr[0]);
			console.log(index);
			// this.DepartmentList.splice(3,1)
		}
		back(): void {
			this.modle = true;
		}

		save(): void {
			this.modle = true;
		    let part_name = this.DeListObj.part_name;
            console.log(part_name);
			let sub = [];
				// console.log(this.deList.part_name)	
				let obj = {name:part_name};	
				sub.push(obj);		
		}*/
	//  @ViewChild(TreeviewComponent) treeviewComponent: TreeviewComponent;
	//     items: TreeviewItem[];
	//     rows: string[];
	//     constructor(
	//         private service: ProductService
	//     ) { }

	//     ngOnInit() {
	//         this.items = this.service.getProducts();
	//     }

	//     onItemCheckedChange(item: TreeviewItem) {
	//         console.log(item);
	//     }

	//     onSelectedChange(downlineItems: DownlineTreeviewItem[]) {
	//         this.rows = [];
	//         downlineItems.forEach(downlineItem => {
	//             const item = downlineItem.item;
	//             const value = item.value;
	//             const texts = [item.text];
	//             let parent = downlineItem.parent;
	//             while (!_.isNil(parent)) {
	//                 texts.push(parent.item.text);
	//                 parent = parent.parent;
	//             }
	//             const reverseTexts = _.reverse(texts);
	//             const row = `${reverseTexts.join(' -> ')} : ${value}`;
	//             this.rows.push(row);
	//         });
	//     }

	//     removeItem(item: TreeviewItem) {
	//         TreeviewHelper.removeItem(item, this.items);
	//         this.treeviewComponent.raiseSelectedChange();
	//     }
-->