<div *ngIf="shouquan==false">
    <div class="widgets">
        <div class="row">
            <ba-card baCardClass="with-scroll" class="smart-table-container">
                <ng2-first-table [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)"></ng2-first-table>
            </ba-card>
        </div>

    </div>
    <button type="button" class="btn btn-primary" style="float:left;margin-left:-10px;" (click)='goShouquan()'>授权</button>
</div>
<div *ngIf="shouquan==true">
    <ba-card title="管理员" bacardclass="with-scroll">
        <table class="privilegeTable col-md-12" border="1">
            <thead>
                <tr>
                    <td><label><span>权限管理</span></label></td>
                    <td>权限</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <label>
                  <span>用户管理</span><span><input type="checkbox"></span>
              </label>
                    </td>
                    <td>
                        <label><span><input type="checkbox"></span><span>新增用户</span></label>
                        <label><span><input type="checkbox"></span><span>用户信息查询</span></label>
                        <label><span><input type="checkbox"></span><span>用户信息修改</span></label>
                        <label><span><input type="checkbox"></span><span>用户信息审核</span></label>
                        <label><span><input type="checkbox"></span><span>禁用用户</span></label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>
                  <span>角色管理</span><span><input type="checkbox"></span>
              </label>
                    </td>
                    <td>
                        <label><span><input type="checkbox"></span><span>首页</span></label>
                        <label><span><input type="checkbox"></span><span>首页</span></label>
                        <label><span><input type="checkbox"></span><span>首页</span></label>
                        <label><span><input type="checkbox"></span><span>首页</span></label>
                        <label><span><input type="checkbox"></span><span>首页</span></label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>
                  <span>数据权限</span><span><input type="checkbox"></span>
              </label>
                    </td>
                    <td>
                        <label><span><input type="checkbox"></span><span>首页</span></label>
                        <label><span><input type="checkbox"></span><span>首页</span></label>
                        <label><span><input type="checkbox"></span><span>首页</span></label>
                        <label><span><input type="checkbox"></span><span>首页</span></label>
                        <label><span><input type="checkbox"></span><span>首页</span></label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>
                  <span>权限报表</span><span><input type="checkbox"></span>
              </label>
                    </td>
                    <td>
                        <label><span><input type="checkbox"></span><span>首页</span></label>
                        <label><span><input type="checkbox"></span><span>首页</span></label>
                        <label><span><input type="checkbox"></span><span>首页</span></label>
                        <label><span><input type="checkbox"></span><span>首页</span></label>
                        <label><span><input type="checkbox"></span><span>首页</span></label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>
                  <span>日志</span><span><input type="checkbox"></span>
              </label>
                    </td>
                    <td>
                        <label><span><input type="checkbox"></span><span>首页</span></label>
                        <label><span><input type="checkbox"></span><span>首页</span></label>
                        <label><span><input type="checkbox"></span><span>首页</span></label>
                        <label><span><input type="checkbox"></span><span>首页</span></label>
                        <label><span><input type="checkbox"></span><span>首页</span></label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>
                  <span>全选</span><span><input type="checkbox"></span>
              </label>
                    </td>
                    <td>
                        <button type="button" class="btn btn-primary">保存</button>
                        <button type="button" class="btn" (click)='goBack()'>返回</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </ba-card>
</div>