<div class="widgets" [hidden]='liulan'>
    <div class="row">
        <ba-card title="浏览角色" bacardclass="with-scroll">
            <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)"></ng2-smart-table>
        </ba-card>
        <button type="btn" class="btn " (click)='shouquan()'>授权</button>
    </div>
</div>

<div class="widgets" [hidden]='!liulan'>
    <ba-card title="管理员" bacardclass="with-scroll">
        <table class="table table-bordered">
            <thead valign="middle">
                <tr>
                    <th>所有权限</th>
                    <th>
                        <span>权限</span>
                    </th>
                </tr>
            </thead>
            <tbody valign="left">
                <tr>
                    <td><label for="user">用户管理</label><input type="checkbox" id='user' name="" value=""></td>
                    <td>
                        <label><input type="checkbox"><span>新增用户</span></label>
                        <label><input type="checkbox"><span>用户信息查询</span></label>
                        <label><input type="checkbox"><span>用户信息修改</span></label>
                        <label><input type="checkbox"><span>用户信息审核</span></label>
                        <label><input type="checkbox"><span>禁用用户</span></label>
                    </td>
                </tr>
                <tr>
                    <td><label for="role">角色管理</label><input type="checkbox" id='role' name="" value=""></td>
                    <td>
                        <label><span><input type="checkbox"></span>首页</label>
                        <label><input type="checkbox"><span>首页</span></label>
                        <label><input type="checkbox"><span>首页</span></label>
                        <label><input type="checkbox"><span>首页</span></label>
                        <label><input type="checkbox"><span>首页</span></label><br>
                        <label><input type="checkbox"><span>首页</span></label>
                        <label><input type="checkbox"><span>首页</span></label>
                        <label><input type="checkbox"><span>首页</span></label>
                        <label><input type="checkbox"><span>首页</span></label>
                        <label><input type="checkbox"><span>首页</span></label>
                    </td>
                </tr>
                <tr>
                    <td><label for="data">数据权限</label><input type="checkbox" id='data' name="" value=""></td>
                    <td>
                        <label><input type="checkbox"><span>首页</span></label>
                        <label><input type="checkbox"><span>首页</span></label>
                        <label><input type="checkbox"><span>首页</span></label>
                        <label><input type="checkbox"><span>首页</span></label>
                        <label><input type="checkbox"><span>首页</span></label><br>
                        <label><input type="checkbox"><span>首页</span></label>
                        <label><input type="checkbox"><span>首页</span></label>
                        <label><input type="checkbox"><span>首页</span></label>
                        <label><input type="checkbox"><span>首页</span></label>
                        <label><input type="checkbox"><span>首页</span></label>
                    </td>
                </tr>
                <tr>
                    <td><label for="qr">权限报表</label><input type="checkbox" id='qr' name="" value=""></td>
                    <td></td>
                </tr>
                <tr>
                    <td><label for="log">日志</label><input type="checkbox" id='log' name="" value=""></td>
                    <td></td>
                </tr>
                <tr>
                    <td><label for="qx">全选</label><input type="checkbox" id='qx' name="" value=""></td>
                    <td>
                        <button class='btn btn-success'>保存</button>
                        <button class='btn' (click)='goBack()'>返回</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </ba-card>
</div>