@import '../../../../../theme/sass/conf/conf';

:host /deep/ .widgets {
  .smart-table-container {
    width: 100%;
  }
}

:host /deep/ {
  ng2-smart-table {
    th, td {
      border: 1px solid $border-light !important;
      line-height: 35px;
      vertical-align: middle;
    }

    table tr td {
      padding: 0 8px;
    }

    color: $default-text;

    input {
      line-height: 1.5 !important;
    }

    ng2-smart-table-cell {
      color: $default-text;
      line-height: 35px;
    }

    tbody {
      tr {
        color: $default-text;
      }
      tr:hover {
        background: rgba(0, 0, 0, 0.03);
      }
    }

    a.ng2-smart-sort-link {
      font-size: 14px !important;
      color: $default-text;
      font-weight: $font-bolder;
      &.sort {
        font-weight: $font-bolder !important;

        &::after {
          border-bottom-color: $default-text !important;
        }
      }
    }

    .ng2-smart-actions {
      width: 70px;
      text-align: center;
      .actions {
        float: none;
        text-align: center;
      }
    }

    .ng2-smart-actions-title-add {
      text-align: center;
    }

    a.ng2-smart-action, .ng2-smart-title {
      font-size: 14px !important;
      color: $default-text;
      padding: 0 5px;
      display: inline-block;

      &.ng2-smart-action-add-add {
        font-size: 25px !important;
      }
    }

    nav.ng2-smart-pagination-nav {
      display: flex;
      justify-content: center;
    }
  }
}

// .privilegeTable {
//   border-top:1px solid #8DBCE0;
//   border-left:1px solid #8DBCE0;
//   td{
//     height: 3rem;
//     border-right:1px solid #8DBCE0;
//     border-bottom:1px solid #8DBCE0;
//     box-sizing: border-box;
//     padding: 0;
//   };
//   tr {
//     td:first-child{
//       width: 20%;
//       input[type="checkbox"]{
//          position: relative;
//          top: 1.5px;
//          left: 5px;
//        }
//       label{
//         width: 100%;
//         position: relative;
//         top: 6px;
//         span{
//             display: inline-block;
//         }
//         span:first-child{
          
//           width: 50%;
//           text-align: right;
//         }
//         span:last-child{
//           width: 50%;
//           text-align: left;

//         }
//       }
//     }
//     td:last-child{
//       width: 80%;
//       label{
//         margin-left: 5px;
//         margin-right: 20px;
//         position: relative;
//         top: 6px;
//       }
//       input[type="checkbox"]{
//          position: relative;
//          top: 1.5px;
//          margin-right:3px;
//        }
//     }
//   };
//   thead{
//     tr{
//       td:first-child{
//         text-align: left;
//         padding-left: 20px;
//       };
//       td:last-child{
//         text-align: center;
//       }
//     }
//   }
// }

.privilegeTable {
  border-top:1px solid #8DBCE0;
  border-left:1px solid #8DBCE0;
  td{
    border-right:1px solid #8DBCE0;
    border-bottom:1px solid #8DBCE0;
    box-sizing: border-box;
    position: relative;
  };
  tr{
    height: 3rem;
    td:first-child{
      width: 15%;
      label{
        width: 80%;
        height: 30px;
        line-height: 30px;
        position: absolute;
        top: 50%;
        margin-top: -15px;
      }
    }
    td:last-child{
      width: 95%;
    }
    input{
      position: relative;
      top: 2px;
    }
  }
  thead{
    tr{
      td:first-child{
        padding-left:15px;
      }
      td:last-child{
        text-align: center;
      }
    }
  }
  tbody{
    tr{
      td:first-child{
        label{
             width: 100%;
             span{
               display: inline-block;
               width: 50%;
             };
             span:first-child{
               text-align: right;
             };
             span:last-child{
               padding-left: 5px;
             }
         }
      }
      td:last-child{
        padding-left: 15px; 
        label{
          margin-right: 15px;
          span:last-child{
            padding-left: 5px;
          }
        };
        button{
          margin-right: 30px;
        }
      }
    }
  }
}