/* You can add global styles to this file, and also import other style files */
.ba-sidebar-sublist-item .fa {
    top:7px!important;
}
html,body{
-moz-user-select: none;
-khtml-user-select: none;
user-select: none;
}