body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:973px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:973px;
}
#u31 {
  position:absolute;
  left:2px;
  top:478px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1740px;
  height:906px;
  background:inherit;
  background-color:rgba(67, 131, 195, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u32 {
  position:absolute;
  left:180px;
  top:67px;
  width:1740px;
  height:906px;
}
#u33 {
  position:absolute;
  left:2px;
  top:445px;
  width:1736px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34_div {
  position:absolute;
  left:0px;
  top:0px;
  width:786px;
  height:495px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34 {
  position:absolute;
  left:265px;
  top:138px;
  width:786px;
  height:495px;
  opacity:0.15;
}
#u35 {
  position:absolute;
  left:2px;
  top:240px;
  width:782px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u36 {
  position:absolute;
  left:267px;
  top:84px;
  width:97px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:787px;
  height:2px;
}
#u38 {
  position:absolute;
  left:265px;
  top:181px;
  width:786px;
  height:1px;
  opacity:0.6;
}
#u39 {
  position:absolute;
  left:2px;
  top:-8px;
  width:782px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:735px;
  height:35px;
}
#u40 {
  position:absolute;
  left:295px;
  top:220px;
  width:735px;
  height:35px;
  color:#FFFFFF;
  text-align:left;
}
#u41 {
  position:absolute;
  left:2px;
  top:10px;
  width:731px;
  word-wrap:break-word;
}
#u42_div {
  position:absolute;
  left:0px;
  top:0px;
  width:786px;
  height:300px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42 {
  position:absolute;
  left:1088px;
  top:138px;
  width:786px;
  height:300px;
  opacity:0.15;
}
#u43 {
  position:absolute;
  left:2px;
  top:142px;
  width:782px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u44 {
  position:absolute;
  left:1120px;
  top:344px;
  width:40px;
  height:16px;
  color:#FFFFFF;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u46 {
  position:absolute;
  left:1120px;
  top:272px;
  width:40px;
  height:16px;
  color:#FFFFFF;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u48 {
  position:absolute;
  left:295px;
  top:272px;
  width:27px;
  height:16px;
  color:#FFFFFF;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u50 {
  position:absolute;
  left:295px;
  top:414px;
  width:92px;
  height:16px;
  color:#FFFFFF;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u52 {
  position:absolute;
  left:295px;
  top:440px;
  width:100px;
  height:16px;
  color:#FFFFFF;
}
#u53 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u52_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u54 {
  position:absolute;
  left:355px;
  top:440px;
  width:100px;
  height:16px;
  color:#FFFFFF;
}
#u55 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u54_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u56 {
  position:absolute;
  left:295px;
  top:473px;
  width:79px;
  height:16px;
  color:#FFFFFF;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u58 {
  position:absolute;
  left:295px;
  top:499px;
  width:100px;
  height:16px;
  color:#FFFFFF;
}
#u59 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u58_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u60 {
  position:absolute;
  left:355px;
  top:499px;
  width:100px;
  height:16px;
  color:#FFFFFF;
}
#u61 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u60_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u62 {
  position:absolute;
  left:1120px;
  top:198px;
  width:53px;
  height:16px;
  color:#FFFFFF;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u64 {
  position:absolute;
  left:1120px;
  top:229px;
  width:100px;
  height:16px;
  color:#FFFFFF;
}
#u65 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u64_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u66 {
  position:absolute;
  left:1204px;
  top:230px;
  width:100px;
  height:16px;
  color:#FFFFFF;
}
#u67 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u66_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u68_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u68 {
  position:absolute;
  left:1120px;
  top:155px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:785px;
  height:2px;
}
#u70 {
  position:absolute;
  left:1090px;
  top:181px;
  width:784px;
  height:1px;
  opacity:0.6;
}
#u71 {
  position:absolute;
  left:2px;
  top:-8px;
  width:780px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:1290px;
  top:230px;
  width:100px;
  height:16px;
  color:#FFFFFF;
}
#u73 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u72_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u74 {
  position:absolute;
  left:1120px;
  top:292px;
  width:735px;
  height:35px;
}
#u74_input {
  position:absolute;
  left:0px;
  top:0px;
  width:735px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u74_input:disabled {
  color:grayText;
}
#u75_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:41px;
  background:inherit;
  background-color:rgba(5, 171, 253, 1);
  border:none;
  border-radius:7px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u75 {
  position:absolute;
  left:1734px;
  top:80px;
  width:140px;
  height:41px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u76 {
  position:absolute;
  left:2px;
  top:8px;
  width:136px;
  word-wrap:break-word;
}
#u77_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u77 {
  position:absolute;
  left:295px;
  top:151px;
  width:37px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:735px;
  height:35px;
}
#u79 {
  position:absolute;
  left:295px;
  top:292px;
  width:735px;
  height:35px;
  color:#FFFFFF;
  text-align:left;
}
#u80 {
  position:absolute;
  left:2px;
  top:10px;
  width:731px;
  word-wrap:break-word;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:735px;
  height:35px;
}
#u81 {
  position:absolute;
  left:295px;
  top:366px;
  width:735px;
  height:35px;
  color:#FFFFFF;
  text-align:left;
}
#u82 {
  position:absolute;
  left:2px;
  top:10px;
  width:731px;
  word-wrap:break-word;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u83 {
  position:absolute;
  left:295px;
  top:344px;
  width:40px;
  height:16px;
  color:#FFFFFF;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:735px;
  height:35px;
}
#u85 {
  position:absolute;
  left:295px;
  top:554px;
  width:735px;
  height:35px;
  color:#FFFFFF;
  text-align:left;
}
#u86 {
  position:absolute;
  left:2px;
  top:10px;
  width:731px;
  word-wrap:break-word;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u87 {
  position:absolute;
  left:295px;
  top:532px;
  width:40px;
  height:16px;
  color:#FFFFFF;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:735px;
  height:35px;
}
#u89 {
  position:absolute;
  left:1120px;
  top:365px;
  width:735px;
  height:35px;
  color:#FFFFFF;
  text-align:left;
}
#u90 {
  position:absolute;
  left:2px;
  top:10px;
  width:731px;
  word-wrap:break-word;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u91 {
  position:absolute;
  left:295px;
  top:198px;
  width:53px;
  height:16px;
  color:#FFFFFF;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
